@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: medium;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "MontserratAlternates";
  font-style: normal;
  font-weight: medium;
  src: url(../fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf);
}
@font-face {
  font-family: "MontserratAlternates";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root {
  --paragrapf-color: #a9afc3;
  /* --contrast-color: #ee204d; */
  --contrast-color: rgba(238, 32, 77, 0.7);
  --white: #fff;
  --black: #000;
  --gray: #c2c3c7;
  --bg-black: #121318;
  --bg-fixed-menu: #070a11;
  --bg-overlay: #191b27;
  --dark-blue: #191c26;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
  font-weight: 500;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

body {
  background-color: var(--bg-black);
  /* scroll-behavior: smooth; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html body a:focus {
  outline: none;
}
hr {
  border-color: var(--white);
}
input::placeholder,
textarea::placeholder {
  color: var(--gray);
  opacity: 0.7;
}
input,
textarea,
select {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  color: var(--gray);
  opacity: 0.7;
}
input:focus,
textarea:focus {
  opacity: 1;
}
select {
  cursor: pointer;
}
select option {
  background-color: var(--bg-black);
}

/* MOBILE MENU */
.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  background-color: var(--bg-fixed-menu);
  color: var(--white);
  height: 100%;
  text-align: center;
  z-index: 10;
}
.fixed-menu__link {
  font-family: "Roboto";
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  top: calc(100vh - 400px);
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fixed-menu__link:before {
  content: "";
  position: absolute;
  bottom: -77px;
  left: 50%;
  height: 100px;
  width: 1px;
  background: var(--paragrapf-color);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fixed-menu__link li {
  display: inline-block;
  margin-bottom: 105px;
  position: relative;
}
.fixed-menu__link a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--paragrapf-color);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  margin: 0px 60px;
  transition: all 0.5s;
}
.fixed-menu__link a:hover {
  color: var(--contrast-color);
}
.mobile-menu {
  position: fixed;
  top: 60px;
  left: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  background-color: none;
  width: 80px;
  height: 50px;
  z-index: 20;
}
.mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: 0.4s;
  z-index: 30;
}
.mobile-menu__icon {
  display: block;
  position: relative;
  background: var(--white);
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  transition: 0.4s;
}
.mobile-menu__icon::after,
.mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: var(--white);
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  transition: 0.4s;
}
.mobile-menu__icon::after {
  top: 8px;
}
.mobile-menu__icon::before {
  top: -8px;
}
.mobile-menu__container {
  position: fixed;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
  opacity: 1;
  transition: 0.8s;
  transition-delay: 0.2s;
  font-size: 18px;
  font-weight: 200;
  overflow: hidden;
  background-color: var(--bg-fixed-menu);
  z-index: 5;
}
.mobile-menu__contacts {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}
.mobile-menu__contacts .contacts {
  margin-right: 40px;
  flex-basis: 160px;
}
.mobile-menu__list {
  margin-left: 40px;
  transition: 1s;
  transition-delay: 1s;
  text-transform: capitalize;
}
.mobile-menu__item {
  margin-bottom: 20px;
}
.mobile-menu__link {
  text-decoration: none;
  color: var(--white);
  transition: all 0.8s;
}
.mobile-menu__link:hover {
  color: var(--contrast-color);
}
.mobile-menu__checkbox {
  display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
  transition-delay: 0s;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  /* width: 350px; */
  width: calc(100vw - 180px);
  transition-delay: 0.2s;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* END MOBILE MENU */

/* HEADER */
.header {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 50px;
  /* padding-bottom: 30px; */
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}
.absolut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.page-header {
  justify-content: space-between;
}
.header-tel a {
  color: var(--white);
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.7s;
}
.header-tel a:hover {
  color: var(--contrast-color);
}
.logo {
  margin-right: 50px;
  cursor: pointer;
}
.navigation {
  display: flex;

  font-size: 18px;
  flex-wrap: wrap;
  line-height: 200%;
  justify-content: center;
  text-align: center;
}
.navigation-item a {
  cursor: pointer;
  outline: none;
}

.navigation-item:not(:last-child) {
  margin-right: 20px;
}
.navigation-item a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.5s;
}
.navigation-item a:hover {
  color: var(--contrast-color);
}

/* END HEADER */

/* MAIN BANNER */
.main-overlay {
  position: relative;
}
.main-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: var(--bg-overlay);
  opacity: 0.7;
}
.bg-image {
  background: url(../img/main_bg.jpg);
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  z-index: -1;
}
.main-banner-text {
  position: relative;
  max-width: 70%;
  float: left;
  z-index: 3;
}
.main-banner-text h1 {
  font-size: 100px;
}
.main-banner-text hr {
  width: 180px;
  height: 1px;
  margin: 0;
  border-color: var(--contrast-color);
  background-color: var(--contrast-color);
}
/* END MAIN BANNER */
.wrapper {
  position: relative;
  padding-left: 180px;
  min-height: 100vh;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.bg-blue {
  background: var(--dark-blue);
}
.bg-contrast-color {
  background: var(--contrast-color);
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flex-container1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heading {
  font-family: "MontserratAlternates";
  font-weight: bold;
  text-transform: capitalize;
  color: var(--white);
  margin-bottom: 30px;
}
.paragrapf {
  font-size: 18px;
  line-height: 150%;
  color: var(--paragrapf-color);
  margin-top: 20px;
}
.two-column {
  column-width: 48%;
  column-count: 2;
  column-gap: 4%;
}
.info-title {
  color: var(--white);
  display: block;
  margin-bottom: 8px;
}

.section {
  min-height: 100vh;
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
  scroll-snap-align: center;
}
.section1 {
  padding: 140px 0;
}
.section2 {
  padding-bottom: 140px;
}
.section3 {
  padding-bottom: 60px;
}
.mt-60 {
  margin-top: 60px;
}
.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 60px;
}
.breadcrumbs-nav {
  display: flex;
  justify-content: flex-end;
}
.breadcrumbs-item {
  position: relative;
  /* padding: 0 30px; */
  padding-left: 40px;
  padding-right: 20px;
  color: var(--paragrapf-color);
}
.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 50%;
  /* right: 100%; */
  left: 0;
  height: 2px;
  width: 20px;
  background-color: #5d616d;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-right: -5px;
}
.breadcrumbs-item a {
  color: inherit;
  cursor: pointer;
  transition: all 0.7s;
}
.breadcrumbs-item a:hover {
  color: var(--contrast-color);
}
.overlay,
.overlay1 {
  position: relative;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-overlay);
  opacity: 0.8;
}
.overlay1::before {
  background-color: var(--bg-black);
}
.section-img {
  background: url(../img/about_bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  z-index: -1;
}
.section-block {
  max-width: 560px;
  position: relative;
}
.section-block1 {
  /* max-width: 770px; */
  position: relative;
}
.right {
  float: right;
}
.left {
  float: left;
}
.pre-title {
  /* color: var(--paragrapf-color); */
  color: var(--contrast-color);
  font-family: "Roboto";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 70px;
  position: relative;
}
.pre-title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: var(--paragrapf-color);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-text {
  padding-right: 20px;
  margin-bottom: 30px;
  flex-basis: 80%;
}
.section-text1 {
  padding-right: 20px;
  margin-bottom: 30px;
  /* flex-basis: 450px; */
  flex-basis: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.section-title {
  font-size: 48px;
  line-height: 110%;
  margin-top: 20px;
  width: 100%;
}
.section-title1 {
  font-size: 30px;
  text-transform: capitalize;
  line-height: 140%;
  margin-top: 20px;
  color: var(--white);
  margin-bottom: 30px;
  width: 100%;
}
.section-links {
  font-size: 14px;
  padding: 10px 0;
  background: var(--bg-overlay);
  opacity: 0.7;
  cursor: pointer;
}
.section-links-item {
  padding: 15px;
  /* background: var(--dark-blue); */
}
.section-links a {
  color: var(--paragrapf-color);
  transition: all 0.7s;
}
.section-links a:hover {
  color: var(--contrast-color);
}
/* .section-links-item:not(:last-child) {
  margin-bottom: 30px;
} */
.img-wrapper {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  margin: 60px 0 40px 0;
  -webkit-mask-image: radial-gradient(
    circle at 30% 30%,
    rgb(0, 0, 0) 0%,
    rgba(255, 255, 255, 0) 300%
  );
  -webkit-mask-size: cover;
  scroll-behavior: smooth;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  scroll-behavior: auto;
}
.employee-img-bg {
  flex-basis: 440px;
  padding: 20px;
}
.employee-img {
  /* overflow: hidden; */
  height: 500px;
  width: 100%;
  position: relative;
  /* border: 3px solid var(--contrast-color); */
  /* -webkit-box-shadow: -20px 20px 0px 0px var(--dark-blue);
  -moz-box-shadow: -20px 20px 0px 0px var(--dark-blue);
  box-shadow: -20px 20px 0px 0px var(--dark-blue); */
  border-bottom-width: 2px;
  border-bottom-color: #b13636;
}
/* .employee-img::before,
.employee-img::after {
  content: "";
  display: block;
  background: var(--bg-black);
  position: absolute;
}
.employee-img::after {
  left: 100px;
  top: 100px;
  right: -5px;
  bottom: -5px;
}
.employee-img::before {
  left: -5px;
  top: -5px;
  right: 100px;
  bottom: 100px;
} */

.employee-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  /* position: relative; */
  /* z-index: 5; */
}

.read-more,
.read-more-simple {
  display: inline-block;
  color: var(--contrast-color);
  font-family: "Roboto";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 10px;

  text-decoration: none;
  position: relative;
}
.read-more {
  padding-right: 30px;
}
.read-more::before,
.read-more-simple::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--contrast-color);
  transition: all 1s;
}
.read-more::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 2px;
  border: 5px solid transparent;
  border-left: 15px solid var(--contrast-color);
}
.read-more:hover::before,
.read-more-simple:hover::before {
  width: 0;
  transition: all 1s;
}

.services {
  display: block;
  margin-top: 60px;
  position: relative;
}
.slider-track {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.slider-track::-webkit-scrollbar {
  height: 1px;
  width: 1px;
  border: 1px solid var(--contrast-color);
  background: var(--contrast-color);
}
/* .slider-track::-webkit-scrollbar-trak {
  --webkit-box-shadow: inset 00 6px rgba(0, 0, 0, 0.3);
} */
.slider-track::-webkit-scrollbar-thumb {
  background-color: var(--paragrapf-color);
  outline: 1px solid var(--paragrapf-color);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 25%;
  /* flex-grow: 1; */
  flex-shrink: 0;
  padding: 70px 30px 100px;
  background: linear-gradient(180deg, #191c26 0%, rgba(25, 28, 38, 0) 100%);
  /* transform: scale(0.95);
  transition: all 0.3s; */
  margin-bottom: 5px;
}
/* .card:hover {
  transform: scale(1);
} */
.card:nth-child(even) {
  background: linear-gradient(180deg, #080a12 0%, rgba(25, 28, 38, 0) 100%);
}
.card .icon {
  margin-bottom: 70px;
}
.icon {
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.icon svg {
  width: 70px;
  height: 70px;
  fill: var(--paragrapf-color);
}
.card-title {
  font-family: "MontserratAlternates";
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 150%;
  color: var(--paragrapf-color);
  text-align: center;
  margin-bottom: 45px;
}
.card-button {
  display: inline-block;
}
.team-card {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  flex-basis: 25%;
  min-height: 450px;
  /* flex-grow: 1; */
  flex-shrink: 0;
  /* box-shadow: 0 10px 10px rgb(0 0 0 / 25%); */
  transition: all 0.8s;
}
.team-card:hover {
  transform: translateY(-10px);
}
.team-card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 490px;
  background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #121318 100%);
  transition: all 1s;
}
.team-card:hover:before {
  background: linear-gradient(180deg, rgba(8, 10, 18, 0) 0%, #b13636 100%);
  mix-blend-mode: soft-light;
}
.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.team-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* text-align: center; */
  z-index: 9;
}
.team-title {
  font-family: "MontserratAlternates";
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 150%;
  color: var(--paragrapf-color);
  margin-bottom: 25px;
}
.card-publication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 49%;
  /* min-width: 350px; */
  /* padding: 40px 0; */
  padding: 40px;
  border: solid 3px var(--bg-overlay);
  margin-bottom: 20px;
}
.slider-buttons {
  position: absolute;
  right: 0;
  top: -120px;
}
.prev,
.next {
  position: relative;
  font-size: 16px;
  text-transform: capitalize;
  background: none;
  border: none;
  padding-bottom: 15px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.7s;
}
.prev {
  margin-right: 55px;
}
.prev::before,
.next::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--white);
  transition: all 0.7s;
}
.prev::before {
  position: absolute;
  bottom: 0;
  left: 0;
}
.next::before {
  position: absolute;
  bottom: 0;
  right: 0;
}
.prev:hover,
.next:hover {
  color: var(--contrast-color);
}
.prev:hover::before,
.next:hover::before {
  background-color: var(--contrast-color);
}

.message-img {
  background: url(../img/message_bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  z-index: -1;
}
.feedback {
  margin-top: 60px;
  width: 100%;
  position: relative;
}
.feedback-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-group input,
.feedback-group textarea {
  line-height: 170%;
  background: none;
  border: none;
  outline: none;
  padding-bottom: 5px;
  flex-basis: 200px;
  flex-grow: 1;
  background: inherit;
  border-bottom: 1px solid var(--gray);
  margin-right: 15px;
  margin-bottom: 40px;
}
.feedback-group textarea {
  resize: none;
}

.feedback-btn button {
  color: var(--white);
  height: 60px;
  line-height: 150%;
  padding: 0 36px;
  font-family: "MontserratAlternates";
  font-weight: 500;
  font-size: 20px;
  border: 2px solid var(--contrast-color);
  border-radius: 50px;
  background: none;
  margin-top: 10px;
  transition: all 0.5s;
}
.feedback-btn button:hover {
  background-color: var(--contrast-color);
}
.search-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.search-block input,
.search-block select {
  background: none;
  padding: 10px;
  border: 1px solid var(--contrast-color);
  border-radius: 20px;
  min-width: 320px;
}

.search-block button {
  background-color: inherit;
  padding: 10px;
  border: none;
  color: var(--gray);
  font-size: 20px;
  cursor: pointer;
}
.search_by_name,
.search_by_category {
  margin-top: 20px;
  position: relative;
}

.search_by_category {
  margin-right: 30px;
}

.search_by_name input {
  padding-right: 50px;
}
.search_by_name button {
  position: absolute;
  top: 0;
  right: 5px;
}
.publications {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.publications-secondary {
  flex-basis: 400px;
  flex-grow: 1;
  margin-right: 15px;
}

.publication {
  display: flex;
}
.publication:first-child {
  margin-bottom: 30px;
}
.publication-img {
  overflow: hidden;
  position: relative;
  flex-basis: 160px;
  flex-shrink: 0;
}
.publication-img::before,
.publications-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(18, 19, 24, 0.287) 0%,
    rgba(18, 19, 24, 0.7) 50%,
    rgba(18, 19, 24, 0.7) 98.44%
  );
}
.publication-img img,
.publications-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.publication-description {
  display: inline-block;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.publication-info {
  text-transform: capitalize;
  margin-bottom: 15px;
}
.publication-info span {
  display: inline-block;
  font-family: "Roboto";
  font-size: 14px;
  color: var(--paragrapf-color);
  margin-bottom: 15px;
}
.publication-title {
  color: var(--white);
  font-size: 22px;
  line-height: 130%;
}
.publication-title a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s;
}
.publication-title a:hover {
  color: var(--contrast-color);
}
.publications-main {
  position: relative;
  overflow: hidden;
  flex-basis: 350px;
  flex-shrink: 0;
}

.publications-main-description {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 15px;
}
.footer-info {
  width: 100%;
  align-self: flex-end;
  z-index: 5;
}
.footer-img {
  background: url(../img/footer_bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.footer-img1 {
  background: url(../img/footer_bg1.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.footer-navigation {
  width: 100%;
  flex-shrink: 0;
  padding: 60px 0;
  /* background: rgba(6, 8, 20, 0.6); */
  /* background: rgba(25, 27, 39, 0.8); */
  background: var(--contrast-color);
  padding: 50px 0;
}
.footer-nav {
  display: flex;
  justify-content: center;
}
.footer-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.footer-link:not(:last-child) {
  margin-right: 40px;
}
.footer-copyright {
  text-align: center;
}
.footer-contacts {
  width: 100%;
  padding: 50px 0;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 170%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* .gradient-bg {
  background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #111319 76.56%);
} */
.contacts {
  line-height: 150%;
}
.contacts span {
  /* font-weight: bold; */
  display: inline-block;
  color: var(--white);
  margin-bottom: 8px;
}
.contacts p {
  color: var(--paragrapf-color);
}
.contacts a {
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.5s;
}
.contacts a:hover {
  color: var(--contrast-color);
}
.contact-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 450px;
  /* max-width: 470px; */
  margin-right: 60px;
}
.contact-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: 40px 20px 40px 40px;
  background: var(--dark-blue);
}
.contact-list-item:not(:last-child) {
  margin-bottom: 30px;
}
.contact-list-item .icon {
  margin-right: 40px;
}

#map {
  width: 100%;
}

/* FAQ SECTION */
/*Добавляем поля*/
.faq-section {
  margin: 40px 0;
}

/*Скрываем чекбоксы и абзацы*/
.faq-section input,
.faq-section p {
  display: none;
}
.faq-section label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--paragrapf-color);
  opacity: 0.5;
}
/*Если чекбокс отмечен, показываем все абазацы*/
.faq-section input[type="checkbox"]:checked ~ p {
  display: block;
}

/*Стили для метки*/
.faq-section label {
  font-size: 1.2em;
  color: var(--white);
  cursor: pointer;
  background: inherit;
  display: block;
  position: relative;
  padding: 7px 10px;
  border: none;
  transition: all 0.15s ease-out;
}

/*Удаляем выделение текста при переключении*/
.faq-section label::selection {
  background: none;
}

/*Стрелка метки - состояние по умолчанию*/
.faq-section label::before {
  content: "";
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left-color: inherit;
}

/*Обновляем стрелку справа*/
.faq-section input[type="checkbox"]:checked ~ label::before {
  border: 6px solid transparent;
  border-top-color: inherit;
  margin-top: -3px;
  right: 10px;
}
/* END FAQ SECTION */

@media (max-width: 1650px) {
  .fixed-menu {
    width: 100px;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    /* width: 350px; */
    width: calc(100vw - 100px);
  }
  .mobile-menu {
    left: 15px;
  }
  .wrapper {
    padding-left: 100px;
  }
}
/* @media (max-width: 1375px) {
  .fixed-menu {
    display: none;
  }
} */
@media (max-width: 1220px) {
  .contact-list {
    max-width: 100%;
    margin-bottom: 60px;
    /* margin-top: 60px; */
  }
  .card,
  .team-card {
    flex-basis: 33.33%;
  }
}
@media (max-width: 1140px) {
  .contact-list {
    margin-right: 0;
  }
}
@media (max-width: 1090px) {
  .section-text {
    flex-basis: 100%;
  }
  .section-links {
    flex-basis: 100%;
  }
  .section-links-nav {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 940px) {
  .fixed-menu {
    display: none;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    /* width: 350px; */
    width: 100vw;
  }
  .mobile-menu {
    left: auto;
    right: 15px;
  }
  .header {
    padding: 50px 60px 60px 15px;
  }
  .header-nav {
    display: none;
  }
  .header-tel {
    display: none;
  }
  .breadcrumbs {
    padding-top: 0;
  }
  .breadcrumbs-nav {
    justify-content: flex-start;
  }
  .wrapper {
    padding-left: 0;
    position: relative;
  }
  .main-overlay::before,
  .bg-image,
  .section-img,
  .message-img {
    width: 100%;
  }
  .services {
    margin-top: 90px;
  }
  .slider-buttons {
    left: 0;
    right: auto;
    top: -60px;
  }
  .publications-secondary {
    margin-right: 0;
  }
  .img-wrapper {
    max-height: 500px;
  }
  .two-column {
    column-count: 1;
  }
}

@media (max-width: 780px) {
  .main-banner-text {
    max-width: 100%;
  }
  .main-banner-text h1 {
    font-size: 60px;
  }
  .publications-main {
    margin-top: 30px;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .card,
  .team-card {
    flex-basis: 50%;
  }
  .card-publication {
    flex-basis: 100%;
  }
  .img-wrapper {
    max-height: 400px;
  }
}
@media (max-width: 550px) {
  .card,
  .team-card {
    flex-basis: 100%;
  }
  .contacts {
    padding: 0 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .main-banner-text h1 {
    font-size: 45px;
  }
  .section-title {
    font-size: 40px;
  }
  .img-wrapper {
    max-height: 300px;
  }
}
